PORT=3000
FRONTEND_URL=https://seusite.com

EVOLUTION_URL=https://evolution-api-xxxx.up.railway.app
EVOLUTION_APIKEY=sua-authentication-api-key-aqui
INSTANCE_NAME=trattoria-palatino
NUMERO_RESTAURANTE=5534999040296
